body{
  margin:0;
  font-family:sans-serif;
  background:#0f1220;
  color:white;
}

.center{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.app-header{
  display:flex;
  justify-content:space-between;
  padding:15px;
}

.tabs{
  display:flex;
  gap:10px;
  padding:10px;
}

.tab{
  padding:10px;
  cursor:pointer;
  background:#1a1f3a;
  border:none;
  color:white;
  border-radius:6px;
}

.tab.active{
  background:#2f89ff;
}

.page{display:none;padding:20px}
.page.active{display:block}

.card{
  background:#14182b;
  padding:15px;
  border-radius:10px;
  margin-bottom:15px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
}

.workout-card{
  background:#1a2040;
  padding:10px;
  border-radius:8px;
  cursor:pointer;
  text-align:center;
}

.workout-card:hover{
  background:#2f89ff;
}

.btn{
  padding:10px;
  border:none;
  border-radius:8px;
  background:#2f89ff;
  color:white;
  cursor:pointer;
}
